<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>上装</key>
	<array>
		<string>全部</string>
		<string>外套</string>
		<string>棒球服</string>
		<string>夹克</string>
		<string>大衣</string>
		<string>西服</string>
		<string>卫衣</string>
		<string>毛衣</string>
		<string>衬衫</string>
		<string>马甲</string>
		<string>背心</string>
	</array>
	<key>下装</key>
	<array>
		<string>全部</string>
		<string>休闲裤</string>
		<string>哈伦裤</string>
		<string>牛仔裤</string>
		<string>紧身裤</string>
		<string>打底裤</string>
		<string>短裤</string>
	</array>
	<key>裙装</key>
	<array>
		<string>全部</string>
		<string>连衣裙</string>
		<string>半身裙</string>
		<string>礼服裙</string>
	</array>
	<key>鞋</key>
	<array>
		<string>全部</string>
		<string>高跟鞋</string>
		<string>运动休闲鞋</string>
		<string>靴子</string>
		<string>凉鞋</string>
		<string>厚底鞋</string>
		<string>平底鞋</string>
		<string>拖鞋</string>
	</array>
	<key>包</key>
	<array>
		<string>全部</string>
		<string>电脑包</string>
		<string>单肩包</string>
		<string>双肩包</string>
		<string>钱包</string>
		<string>手提包</string>
		<string>化妆包</string>
		<string>斜挎包</string>
		<string>行李箱</string>
	</array>
	<key>配饰</key>
	<array>
		<string>全部</string>
		<string>耳环</string>
		<string>耳钉</string>
		<string>袜子</string>
		<string>项链</string>
		<string>吊坠</string>
		<string>帽子</string>
		<string>胸针</string>
		<string>围巾</string>
		<string>口罩</string>
	</array>
	<key>美容</key>
	<array>
		<string>全部</string>
		<string>面部护理</string>
		<string>美发用品</string>
		<string>纹身贴纸</string>
		<string>面膜</string>
		<string>精油</string>
		<string>日常洗护</string>
		<string>彩妆</string>
		<string>香水</string>
		<string>美容工具</string>
		<string>美甲用品</string>
	</array>
	<key>内衣</key>
	<array>
		<string>全部</string>
		<string>睡衣</string>
		<string>睡裙</string>
		<string>内衣套装</string>
	</array>
	<key>家居家具</key>
	<array>
		<string>全部</string>
		<string>摆件</string>
		<string>收纳</string>
		<string>智能生活</string>
		<string>玩具</string>
		<string>伞</string>
		<string>钟</string>
		<string>地毯</string>
		<string>家纺</string>
		<string>生活杂货</string>
		<string>厨房</string>
		<string>杯具</string>
	</array>
</dict>
</plist>
